<div id="app">
  <section class="section">
    <h1 class="title">Guard App</h1>
    <h2 class="subtitle">
      Aplicación de monitoreo de turnos de empleados, asegurando <strong>un equilibrio de horas asignadas</strong> y
      <strong>minimizando la cantidad de saltos de turno por día</strong>, acorde a la disponibilidad de los empleados.
    </h2>
    <br>
    <div class="columns">
      <div class="column is-four-fifths">
        <week-schedule-summary :summary="<%= @summary %>" :employee-colors="<%= @employee_colors %>"></week-schedule-summary>
      </div>
      <div class="column">
        <dropdown :data="<%= @employees %>"></dropdown>
      </div>
    </div>

    <br>
    <week-schedule :schedule="<%= @schedule %>" :employee-colors="<%= @employee_colors %>"></week-schedule>
  </section>
</div>
