<%= form_with(model: @week_schedule, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <h2>Horarios</h2>
  <%= form.fields_for :day_schedules do |day_schedule_form| %>
    <div class="field">
      <%= day_schedule_form.label :day_id %>
      <%= day_schedule_form.number_field :day_id %>
    </div>

    <div class="field">
      <%= day_schedule_form.label :starts_at %>
      <%= day_schedule_form.time_select :starts_at %>
    </div>

    <div class="field">
      <%= day_schedule_form.label :ends_at %>
      <%= day_schedule_form.time_select :ends_at %>
    </div>

    <hr>
  <% end %>

  <div class="buttons">
    <%= form.submit "Guardar Cambios", class:  'button is-primary' %>
  </div>
<% end %>