<div id="app">
  <section class="section">
    <h1 class="title">Guard App</h1>
    <h2 class="subtitle">
      Editar Disponibilidad
    </h2>
    <br>
    <div class="columns">
      <div class="column is-four-fifths">
        <week-schedule-summary :summary="<%= @summary %>" :employee-colors="<%= @employee_colors %>"></week-schedule-summary>
      </div>
      <div class="column">
        <%= link_to '<- Vista Principal', root_path, class: 'button' %>
      </div>
    </div>
    <br>
    <week-schedule :schedule="<%= @schedule %>" :employee-colors="<%= @employee_colors %>"></week-schedule>
  </section>
</div>